/* - - - top headlines styling - - - */
#top-headlines,
#business,
#entertainment,
#technology,
#sports,
#sources {
  width: 100%;
  padding: 5% 14%;
  backdrop-filter: blur(0.05vw);
}

#sources .outlets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#sources .outlets a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9b018;
  display: inline-block;
  width: 20%;
  height: 7vw;
  padding: 2.5vw;
  margin: 2%;
  text-decoration: none;
  color: #1c1c1c;
  font-size: 1.3vw;
  text-transform: capitalize;
  font-weight: 900;
  transition: 0.2s ease-in-out;
}
/* @media screen and (max-width: 500px) {
  #sources .outlets a {
    font-size: 1.1vw;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  #sources .outlets a {
    font-size: 2vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #sources .outlets a {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  #sources .outlets a {
    font-size: 1.3vw;
  }
} */

#sources .outlets a:hover {
  box-shadow: 0 0 0.5vw 0.1vw #1c1c1c50;
}

#sources .outlets .outlet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 3% 1.5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title h3 {
  text-transform: capitalize;
  font-size: 1.7vw;
}

.title hr {
  border-radius: 2vw;
  width: 5vw;
  margin-bottom: -0.5%;
  margin-left: 3%;
  border: none;
  outline: none;
  height: 0.2vw;
  background-color: #e9b018;
}

.banner {
  width: 100%;
  height: 15vw;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .top {
  padding: 5%;
  width: 68%;
  height: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  filter: grayscale(100%);
  background-position: center center;
  background-size: cover;
}

.banner .top p {
  color: #fff;
  font-size: 1.2vw;
  line-height: 1.7vw;
}

.banner .top .details {
  width: 100%;
  margin-top: 3%;
}

.banner .top .details .name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner .top .details .name svg {
  width: 1.2vw;
  height: 1.2vw;
  color: #e9b018;
  margin-right: 2%;
}

.banner .top .details .name span {
  color: #fff;
  font-size: 1.1vw;
}

.banner .top .details .date {
  color: #fff;
  margin-top: 1%;
  font-size: 1.1vw;
}

.banner .dummy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 28%;
  height: 100%;
  background-color: #e9b018;
  padding: 5%;
}

.banner .dummy h3 {
  font-size: 1.5vw;
  font-weight: 900;
}

.banner .dummy a {
  font-size: 1.1vw;
  text-decoration: none;
  color: #1c1c1c;
  transition: 0.2s ease-in-out;
}

.banner .dummy a:hover {
  font-size: 1vw;
  transition: 0.2s ease-in-out;
}

.articles {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.articles .content {
  width: 30%;
  height: 22vw;
  margin: 1.5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.articles .content .upper,
.articles .content .lower {
  width: 100%;
}

.articles .content .upper .article-image {
  width: 100%;
  height: 12vw;
  margin-bottom: 3%;
}

.articles .content .upper .article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.articles .content .upper .article-content {
  width: 100%;
}

.articles .content .upper .article-content a {
  text-decoration: none;
  margin-top: 2%;
  color: #1c1c1c;
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.8vw;
}

.articles .content .lower {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.articles .content .lower hr {
  width: 100%;
  border: none;
  outline: none;
  background-color: #5a5a5a;
  height: 0.05vw;
  margin-bottom: 3%;
}

.articles .content .lower p {
  font-size: 1vw;
}

.articles .content .article-content a:hover {
  color: rgb(112, 112, 112);
}
