<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/world.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/base.css')}}"
    />
    {% block css %}{% endblock %}
    <!-- title block -->
    {% block title %}{% endblock %}
  </head>
  <body>
    <main>
      <!-- hero section -->
      <section id="grey"></section>
      <section id="hero">
        <!-- header section -->
        <header>
          <div class="logo">
            <a href="{{url_for('main.home')}}">
              <h1>News<span>Portal</span></h1>
            </a>
          </div>
          <div class="links">
            <label for="menu">
              <span>
                <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"
                  />
                </svg>
              </span>
              <input type="checkbox" name="menu" id="menu" />
            </label>
            <ul>
              <li><a href="{{url_for('main.home')}}">home</a></li>
              <li>
                <a href="{{url_for('main.home', _anchor='business')}}"
                  >business</a
                >
              </li>
              <li>
                <a href="{{url_for('main.home', _anchor='sports')}}">sports</a>
              </li>
              <li>
                <a href="{{url_for('main.home', _anchor='entertainment')}}"
                  >entertainment</a
                >
              </li>
              <li>
                <a href="{{url_for('main.home', _anchor='technology')}}"
                  >technology</a
                >
              </li>
            </ul>
          </div>
        </header>
        <!-- hero content -->
        <div class="hero-content">
          <div class="tag">{% block latest_title%}{% endblock %}</div>
          <div class="title">
            <div class="headline">
              {% block latest %}
              <!-- <h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati voluptatem officia enim atque sit nisi expedita
                aliquid, consequatur illum omnis.
              </h3>
              <a href="">Read More . . . </a> -->
              {% endblock %}
            </div>
            <div class="calendar">
              <svg aria-hidden="true" role="img" viewBox="0 0 15 15">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M4.5 1a.5.5 0 0 1 .5.5V2h5v-.5a.5.5 0 0 1 1 0V2h1.5A1.5 1.5 0 0 1 14 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 1 12.5v-9A1.5 1.5 0 0 1 2.5 2H4v-.5a.5.5 0 0 1 .5-.5ZM10 3v.5a.5.5 0 0 0 1 0V3h1.5a.5.5 0 0 1 .5.5V5H2V3.5a.5.5 0 0 1 .5-.5H4v.5a.5.5 0 0 0 1 0V3h5ZM2 6v6.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V6H2Zm5 1.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0ZM9.5 7a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1Zm1.5.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0Zm.5 1.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1ZM9 9.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0ZM7.5 9a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1ZM5 9.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0ZM3.5 9a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1ZM3 11.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0Zm2.5-.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1Zm1.5.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0Zm2.5-.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1Z"
                  clip-rule="evenodd"
                />
              </svg>
              <p class="month">June</p>
              <span class="date">12</span>
            </div>
          </div>
        </div>
      </section>
      <!-- postlatest content section -->
      {% block postlatest %} {% endblock %}

      <!-- main content section -->
      {% block content %}{% endblock %}

      <!-- footer section -->
      <footer>
        <p class="footer-text">
          &copy; All Rights Reserved | <span class="year"></span>
        </p>
      </footer>
    </main>
    <script src="{{url_for('static', filename='js/base.js')}}"></script>
  </body>
</html>
