{% extends "base.html" %}

<!-- css block -->
{% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/category.css')}}"
/>
{% endblock %}

<!-- title block -->
{% block title %}
<title>{{title}}</title>
{% endblock %}

<!-- latest title block -->
{% block latest_title%}
<h2>News from {{title}}</h2>
{% endblock %}

<!-- this is the latest block -->
{% block latest %}
<!-- content check -->
<h3>{{ headlines[0].description | truncate(150)}}</h3>
<a href="{{ headlines[0].url }}" target="blank">Read More . . . </a>
<!-- end check -->
{% endblock %}

<!-- this is the postlatest block -->
{% block postlatest %}
<section id="latest">
  <div class="first">
    <h3 class="description">{{ headlines[1].description | truncate(100)}}</h3>
    <a href=" {{ headlines[1].url }}" target="blank">Read More . . . </a>
  </div>
  <div class="second">
    <h3 class="description">{{headlines[2].description | truncate(100) }}</h3>
    <a href=" {{ headlines[2].url }}" target="blank">Read More . . . </a>
  </div>
  <div class="third">
    <h3 class="description">{{ headlines[3].description | truncate(100) }}</h3>
    <a href=" {{ headlines[3].url }}" target="blank">Read More . . . </a>
  </div>
</section>
{% endblock %}

<!-- main content block -->
{% block content %}
<!-- finance section -->
<section id="headlines">
  <div class="title">
    <h3>Top Headlines</h3>
    <hr />
  </div>

  <div class="articles">
    <!-- loop -->
    {% for piece in headlines %}
    <!-- if check -->
    {% if headlines[0] != piece and headlines[1] != piece and headlines[2] !=
    piece and headlines[3] != piece%}
    <div class="content">
      <div class="upper">
        <div class="article-image">
          <img src="{{ piece.image }}" alt="{{ piece.title}}" />
        </div>
        <div class="article-content">
          <a href="{{ piece.url }}" target="blank">
            {{ piece.description | truncate(100)}}</a
          >
        </div>
      </div>
      <div class="lower">
        <hr />
        <p>{{ piece.date }}</p>
      </div>
    </div>
    {% endif %}
    <!-- end if check -->
    {% endfor %}
  </div>
</section>
{% endblock %}
