{% extends "base.html" %}

<!-- css linking block -->
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css')}}"
/>
{% endblock %}
<!-- title block -->
{% block title%}
<title>Home</title>
{% endblock %}

<!-- this is the latest block -->
{% block latest %}
<h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatem
  officia enim atque sit nisi expedita aliquid, consequatur illum omnis.
</h3>
<a href="">Read More . . . </a>
{% endblock %}

<!-- this is the postlatest block -->
{% block postlatest %}
<section id="latest">
  <div class="first">
    <h3 class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eius illum
      harum.
    </h3>
    <a href="">Read More . . . </a>
  </div>
  <div class="second">
    <h3 class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eius illum
      harum.
    </h3>
    <a href="">Read More . . . </a>
  </div>
  <div class="third">
    <h3 class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eius illum
      harum.
    </h3>
    <a href="">Read More . . . </a>
  </div>
</section>
{% endblock %}

<!-- block content section -->
{% block content %}
<section id="top-headlines">
  <div class="title">
    <h3>Top headlines</h3>
    <hr />
  </div>
  <div class="articles">
    <div class="content">
      <div class="article-image">
        <img src="../static/images/sample.jpg" alt="sample" />
      </div>
      <div class="article-content">
        <a href="" target="blank">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          enim sequi. Libero molestias quia cupiditate.</a
        >
      </div>
    </div>
    <div class="content">
      <div class="article-image">
        <img src="../static/images/sample.jpg" alt="sample" />
      </div>
      <div class="article-content">
        <a href="" target="blank">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          enim sequi. Libero molestias quia cupiditate.</a
        >
      </div>
    </div>
    <div class="content">
      <div class="article-image">
        <img src="../static/images/sample.jpg" alt="sample" />
      </div>
      <div class="article-content">
        <a href="" target="blank">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          enim sequi. Libero molestias quia cupiditate.</a
        >
      </div>
    </div>
    <div class="content">
      <div class="article-image">
        <img src="../static/images/sample.jpg" alt="sample" />
      </div>
      <div class="article-content">
        <a href="" target="blank">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          enim sequi. Libero molestias quia cupiditate.</a
        >
      </div>
    </div>
    <div class="content">
      <div class="article-image">
        <img src="../static/images/sample.jpg" alt="sample" />
      </div>
      <div class="article-content">
        <a href="" target="blank">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          enim sequi. Libero molestias quia cupiditate.</a
        >
      </div>
    </div>
    <div class="content">
      <div class="article-image">
        <img src="../static/images/sample.jpg" alt="sample" />
      </div>
      <div class="article-content">
        <a href="" target="blank">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          enim sequi. Libero molestias quia cupiditate.</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
