{% extends "base.html" %}

<!-- css linking block -->
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css')}}"
/>
{% endblock %}
<!-- title block -->
{% block title%}
<title>NewsPortal</title>
{% endblock %}

<!-- latest title block -->
{% block latest_title%}
<h2>latest</h2>
{% endblock %}

<!-- this is the latest block -->
{% block latest %}
<h3>{{ data[0][0].description | truncate(150)}}</h3>
<a href="{{ data[0][0].url }}" target="blank">Read More . . . </a>
{% endblock %}

<!-- this is the postlatest block -->
{% block postlatest %}
<section id="latest">
  <div class="first">
    <h3 class="description">{{ data[0][1].description | truncate(100)}}</h3>
    <a href=" {{ data[0][1].url }}" target="blank">Read More . . . </a>
  </div>
  <div class="second">
    <h3 class="description">{{ data[0][2].description | truncate(100) }}</h3>
    <a href=" {{ data[0][2].url }}" target="blank">Read More . . . </a>
  </div>
  <div class="third">
    <h3 class="description">{{ data[0][3].description | truncate(100) }}</h3>
    <a href=" {{ data[0][3].url }}" target="blank">Read More . . . </a>
  </div>
</section>
{% endblock %}

<!-- block content section -->
{% block content %}
<!-- top headlines section -->
<section id="top-headlines">
  <div class="title">
    <h3>Top headlines</h3>
    <hr />
  </div>
  <div class="banner">
    <div class="dummy">
      <h3>{{ data[0][4].description | truncate(50) }}</h3>
      <br />
      <a href=" {{ data[0][4].url }}" target="blank">Read Now</a>
    </div>
    <div
      class="top"
      style="background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({{data[0][4].image}})"
    >
      <p>{{ data[0][4].content | truncate(350) }}</p>
      <div class="details">
        <div class="name">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            />
          </svg>
          <span>{{ data[0][4].author }}</span>
        </div>
        <div class="date">Published on: {{ data[0][4].date }}</div>
      </div>
    </div>
  </div>
  <div class="articles">
    {% for i in range(5, 11) %}
    <div class="content">
      <div class="upper">
        <div class="article-image">
          <img src="{{ data[0][i].image }}" alt="{{ data[0][i].title}}" />
        </div>
        <div class="article-content">
          <a href="{{ data[0][i].url }}" target="blank">
            {{ data[0][i].description | truncate(100)}}</a
          >
        </div>
      </div>
      <div class="lower">
        <hr />
        <p class="date">{{ data[0][i].date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- sources section -->
<section id="sources">
  <div class="title">
    <h3>Our trusted news outlets</h3>
    <hr />
  </div>
  <div class="outlets">
    {% for i in range(0, 16) %}
    <a href="{{url_for('main.category', title = data[3][i].id )}}">
      <div class="outlet">{{ data[3][i].name }}</div>
    </a>
    {% endfor %}
  </div>
</section>

<!-- finance section -->
<section id="business">
  <div class="title">
    <h3>business</h3>
    <hr />
  </div>
  <div class="banner">
    <div class="dummy">
      <h3>{{ data[1][0].description | truncate(50) }}</h3>
      <br />
      <a href=" {{ data[1][0].url }}" target="blank">Read Now</a>
    </div>
    <div
      class="top"
      style="background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({{data[1][0].image}})"
    >
      <p>{{ data[1][0].content | truncate(350) }}</p>
      <div class="details">
        <div class="name">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            />
          </svg>
          <span>{{ data[1][0].author }}</span>
        </div>
        <div class="date">Published on: {{ data[1][0].date }}</div>
      </div>
    </div>
  </div>
  <div class="articles">
    {% for i in range(1, 7) %}
    <div class="content">
      <div class="upper">
        <div class="article-image">
          <img src="{{ data[1][i].image }}" alt="{{ data[1][i].title}}" />
        </div>
        <div class="article-content">
          <a href="{{ data[1][i].url }}" target="blank">
            {{ data[1][i].description | truncate(100)}}</a
          >
        </div>
      </div>
      <div class="lower">
        <hr />
        <p>{{ data[1][i].date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- entertainment section -->
<section id="entertainment">
  <div class="title">
    <h3>entertainment</h3>
    <hr />
  </div>
  <div class="banner">
    <div class="dummy">
      <h3>{{ data[2][0].description | truncate(50) }}</h3>
      <br />
      <a href=" {{ data[2][0].url }}" target="blank">Read Now</a>
    </div>
    <div
      class="top"
      style="background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({{data[2][0].image}})"
    >
      <p>{{ data[2][0].content | truncate(350) }}</p>
      <div class="details">
        <div class="name">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            />
          </svg>
          <span>{{ data[2][0].author }}</span>
        </div>
        <div class="date">Published on: {{ data[2][0].date }}</div>
      </div>
    </div>
  </div>
  <div class="articles">
    {% for i in range(1, 7) %}
    <div class="content">
      <div class="upper">
        <div class="article-image">
          <img src="{{ data[2][i].image }}" alt="{{ data[2][i].title}}" />
        </div>
        <div class="article-content">
          <a href="{{ data[2][i].url }}" target="blank">
            {{ data[2][i].description | truncate(100)}}</a
          >
        </div>
      </div>
      <div class="lower">
        <hr />
        <p>{{ data[2][i].date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- technology section -->
<section id="technology">
  <div class="title">
    <h3>Technology</h3>
    <hr />
  </div>
  <div class="banner">
    <div class="dummy">
      <h3>{{ data[4][0].description | truncate(50) }}</h3>
      <br />
      <a href=" {{ data[4][0].url }}" target="blank">Read Now</a>
    </div>
    <div
      class="top"
      style="background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({{data[4][0].image}})"
    >
      <p>{{ data[4][0].content | truncate(350) }}</p>
      <div class="details">
        <div class="name">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            />
          </svg>
          <span>{{ data[4][0].author }}</span>
        </div>
        <div class="date">Published on: {{ data[4][0].date }}</div>
      </div>
    </div>
  </div>
  <div class="articles">
    {% for i in range(1, 7) %}
    <div class="content">
      <div class="upper">
        <div class="article-image">
          <img src="{{ data[4][i].image }}" alt="{{ data[2][i].title}}" />
        </div>
        <div class="article-content">
          <a href="{{ data[4][i].url }}" target="blank">
            {{ data[4][i].description | truncate(100)}}</a
          >
        </div>
      </div>
      <div class="lower">
        <hr />
        <p>{{ data[4][i].date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- sports section -->
<section id="sports">
  <div class="title">
    <h3>Sports</h3>
    <hr />
  </div>
  <div class="banner">
    <div class="dummy">
      <h3>{{ data[5][0].description | truncate(50) }}</h3>
      <br />
      <a href=" {{ data[5][0].url }}" target="blank">Read Now</a>
    </div>
    <div
      class="top"
      style="background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({{data[5][0].image}})"
    >
      <p>{{ data[5][0].content | truncate(350) }}</p>
      <div class="details">
        <div class="name">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
            />
          </svg>
          <span>{{ data[5][0].author }}</span>
        </div>
        <div class="date">Published on: {{ data[5][0].date }}</div>
      </div>
    </div>
  </div>
  <div class="articles">
    {% for i in range(1, 7) %}
    <div class="content">
      <div class="upper">
        <div class="article-image">
          <img src="{{ data[5][i].image }}" alt="{{ data[5][i].title}}" />
        </div>
        <div class="article-content">
          <a href="{{ data[5][i].url }}" target="blank">
            {{ data[5][i].description | truncate(100)}}</a
          >
        </div>
      </div>
      <div class="lower">
        <hr />
        <p class="date">{{ data[5][i].date }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
